body {
  font-size: 14px;
  margin-top: -10px;
  text-align: center;
}
h1 {
  font-family: sans-serif;
  font-size: 2em;
  padding-top: 30px;
}
/*made font-family same as h1*/
h3 {
  font-family: sans-serif;
  font-size: 1.3em;
  padding-top: 30px;
}
div{
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
/*Removed nav tag. Main header of page, no menu itmes.*/
header {
  background-color: yellow;
  height: 100px;
  position: fixed;
  width: 100%;
}
section {
  margin: 0 auto;
  width: 60%;
}
/*alter background color green*/
div.element {
  background-color: green;
}
/*alter background color blue*/
div.alter{
  background-color: blue;
}
